* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: linear-gradient(135deg, #e3f2fd 0%, #bbdefb 100%);
    min-height: 100vh;

}

header {
   background: linear-gradient(135deg, #00d5ff 0%, #00b7ff 50%, #00e5ff 100%);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: relative;
}

.logo {
    font-size: 1.6rem;
    font-weight: bold;
}

.menu-btn {
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 10001;
    display: noe;
}

.nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 70%;
    height: 100vh;
    background: linear-gradient(135deg, #00d5ff 0%, #00b7ff 50%, #00e5ff 100%);
    transition: left 0.4s ease;
    z-index: 1000;
    padding-top: 4rem;
}

.nav.active {
    left: 0;
}

.nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 2rem;
}

.nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    transition: color 0.3s ease;
}

.nav ul li a:hover {
    color: #1e90ff;
}


@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }
}


@media (min-width: 769px) {
  .menu-btn {
    display: none;
  }

  .nav {
    position: static;
    height: auto;
    width: auto;
    padding-top: 0;
    display: block;
    background: none;
  }

  .nav ul {
    flex-direction: row;
    gap: 1.5rem;
    padding-left: 0;
  }
}
